# python / fastapi
__pycache__/
*.py[cod]
*.sqlite3

# venv
api/mock-fastapi/.venv/
.venv/

# logs & local env
logs/
api/mock-fastapi/logs/
scripts/*.log
*.log
.env
api/mock-fastapi/.env

# OS/editor
.DS_Store
*.swp
