# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.venv/
venv/
.env
.env.*

# FastAPI / logs
*.log

# Web
node_modules/
dist/
coverage/

# DB dumps
*.sql.bak
*.sql.gz

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Postman local env
*.postman_environment.local.json
